@model IEnumerable<MobileBackend.DataAccess.Kustannuspaikat>

@{
    ViewBag.Title = "Index";
}

<h2>Kustannuspaikat</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contractor_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contractor_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Kustannuspaikka_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Kustannuspaikka_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Kustannuspaikka_id })
        </td>
    </tr>
}

</table>
